.carousel
    padding: 81px 0
    &__inner
        position: relative
        width: 750px
        height: 580px
        margin: 0 auto
        background-color: #fff
        img
            &:focus
                outline: none
    // .tns-outer
    //     position: relative

    .prev, .next
        position: absolute
        top: 50%
        transform: translateY(-50%)
        left: -66px
        border: none
        background-color: #fff
        &:focus
            outline-color: $red
        img
            width: 31px
            height: 50px
    .next
        left: auto
        right: -66px
    .tns-item
        img
            display: block
            margin: 0 auto
    .tns-nav

        display: flex
        justify-content: center
        button
            background-color: $red
            border-color: $red
            &:focus
                outline: none
        .tns-nav-active
            background-color: #2c0ed8
            border-color: #2c0ed8
